@import './../../styles/fonts';

@import './../../styles/colors';

.pagination {
  display: flex;
  width: 80%;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination__page-wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 3px 7px;
  flex-direction: row;
  gap: 5px;
  background: $card-background;
  border-radius: 5px;
}

.pagination__text-page {
  @include Cardo(1em);
  color: $text-sign-color;
}

.pagination__page {
  @include CardoBold(1em);
  color: $title-color;
  font-weight: 600;
  text-shadow: #df0e5e 0 0 6px;
}

.pagination__panel-wrapper {
  display: flex;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  padding: 3px 7px;
  flex-direction: row;
  gap: 15px;
  background: $card-background;
  border-radius: 5px;
}

.pagination__button {
  display: flex;
  width: 90px;
  height: 22px;
  justify-content: center;
  align-items: center;
  border: none;
  background: $btn-background;
  border-radius: 5px;
  cursor: pointer;
}

.pagination__button:hover {
  background: $btn-hover-background;
}

.pagination__button:active {
  background: $btn-active-background;
}

.pagination__button-text {
  font-size: 1.8em;
  color: #4a278f;
}
