@import '../../styles/fonts';
@import '../../styles/colors';

.wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 4px 7px;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 7px;
  background: $btn-background;
  border-radius: 5px;
}

.items__label {
  @include Cardo(1em);
  color: $text-sign-color;
}

.items__select-count {
  @include CardoBold(1em);
  color: $title-color;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.items__select-item {
  text-align: center;
  padding: 0;
  @include CardoItalic(1em);
  color: $text-sign-color;
}
