$card-background:  linear-gradient(180deg, #f28e1c, #e38d36, #d38c49, #c28b5a, #b18a69, #9d8878, #878787);
$title-color: #6325ef;
$text-color: #010226;
$text-sign-color: #330303;
$box-shadow-card: 4px -1px 5px 0px #0b0118;
$card-decription-border: 1px dashed $text-sign-color;
