.main {
  display: flex;
  width: 95%;
  max-width: 1440px;
  min-height: calc(100vh - 140px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(60%);
  border-radius: 10px;
}

.main__cards-wrapper {
  display: flex;
  width: 100%;
  max-width: 980px;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main__main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.main__cards-panel {
  display: flex;
  min-width: 300px;
  height: calc(100vh - 230px);
  box-sizing: border-box;
  padding: 0 5px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.main__cards-panel::-webkit-scrollbar {
  width: 0;
}

.main__card-info {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}
