@import '../../styles/fonts';
@import '../../styles/colors';

.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(4px) brightness(50%);
}

.header__input {
  width: 320px;
  height: 31px;
  padding: 2px 10px;
  @include Cardo(18px);
  color: $text-color;
  border: none;
  border-radius: 5px;
  background: #cce7e7;
  outline: none;
}

.header__button {
  flex-basis: 80px;
  display: flex;
  width: 80px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #1984ee, #4da2ea, #1984ee);
  cursor: pointer;
}

.header__button:hover {
  border: 1px #8851e8 solid;
  box-shadow: 0 0 11px 2px #4a278f;
}

.header__button:active {
  width: 76px;
  height: 31px;
  border: 1px #8851e8 solid;
  box-shadow: 0 0 11px 0 #4a278f;
}

.header__button-text {
  @include Neon(15px);
  color: $title-color;
}
