@import './../../styles/fonts';
@import './../../styles/colors';

.page__not-found {
  display: flex;
  width: 50%;
  min-height: calc(100vh - 240px);
  box-sizing: border-box;
  padding-top: calc((100vh - 240px) / 2.9);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  background: $card-background;
  box-shadow: $box-shadow-card;
}

.page__title-not_found {
  @include Neon(3.2em);
  color: $title-color;
}

.page__text-not_found {
  @include CardoBold(1.5em);
  color: $text-color;
}

.page__button-not_found {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: $btn-background;
}

.page__button-not_found:hover {
  width: 152px;
  height: 42px;
  background: $btn-hover-background;
  box-shadow: $box-shadow-card;
}

.page__button-not_found:active {
  width: 148px;
  height: 38px;
  background: $btn-active-background;
}

.page__button-txt_not_found {
  @include Cardo(1em);
  color: $text-sign-color;
  font-weight: 500;
}
