body {
  margin: 0;
  padding: 0;
  background: url('./background.webp') no-repeat top/cover;
}

.beer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
